@use 'navigation';


$back-touch:rgb(9, 177, 255);

#outer-contact {
    font-family: "Lato";
    #get-in-touch {
        margin-top: 0px;
        text-align: center;
        width: 100%;
        color:white;
        padding:28px 0px 28px 0px;
        background-color:$back-touch; 
        margin-bottom: 50px;
    }
    .contact {
        width: 80%;
        max-width:800px;
        margin: 0 auto;
        position: relative;
        
        form#contact-form {
            width:100%;
            input[type="text"], input[type="email"] {
                width:95%;
                padding:15px 2.5%;
                font-family: "Lato";
                font-size:18px;
                outline: none;
                border: 1px solid rgb(212, 212, 212);
                border-radius:7px;
            }
            input[type="text"]:focus, input[type="email"]:focus {
                box-shadow: 0px 0px 6px rgb(146, 204, 255);
            }
            textarea#contact-area {
                padding: 15px 5%;
                width: 90%;
                outline: none;
                font-size:17px;
                font-family: "Lato";
  
                border: 1px solid rgb(216, 216, 216);
            }
            #contact-area:focus {
                box-shadow: 0px 0px 6px rgb(161, 208, 250);
            }

        }
        

        h1 {
            margin-top: 30px;
            text-align: center;
            width: 100%;
            color:rgb(71, 71, 71);
            padding-bottom: 20px;
            border-bottom: 1px solid rgb(192, 192, 192);
        }
        #contact-information {
            color:rgb(54, 54, 54);
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content:space-evenly;


            a {
                text-decoration: none;
                color:rgb(71, 71, 71);
                font-size: 21px;
            }
            a:hover {
                text-decoration: underline;
            }
        }
       

        #contact-send {
            -moz-box-sizing: content-box;
            -webkit-box-sizing: content-box;
            box-sizing: content-box;
            width: 95%;
            height:50px;
            padding-right: 2.5%;
            padding-left: 2.5%;
            margin-top: 20px;
            cursor: pointer;
            font-family: "Lato";
            font-size:19px;
            border: 1px solid rgb(209, 209, 209);
            color:white;
            outline: none;
            background-color: adjust-color($back-touch,$hue: 0, $saturation: 0%, $lightness: -6%, $alpha: 1.0);
        }
        #contact-send:hover {
            background-color: adjust-color($back-touch,$hue: 0, $saturation: 0%, $lightness: -9%, $alpha: 1.0);
        }
    }
}

@media only screen and (max-width:400px) {

    #outer-contact {
        .contact {
            form#contact-form {
                
            }
            h2 {
                font-size: 21px;
            }
        
        }

    }

   
}